.center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &-column{
        flex-direction: column;
        justify-content: flex-start;
    }

    &-2{
        text-align: center;

        &-error {
            color: red
        }
    }
}